@import url("./assets/css/cabecalho.css");
@import url("./assets/css/secao-carrossel.css");
@import url("./assets/css/secao-calendario.css");
@import url("./assets/css/secao-cartao-calendario.css");
@import url("./assets/css/secao-banners.css");
@import url("./assets/css/rodape.css");

:root {
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343434;
    --secondary: #6c757d;
    --success: #03c100;
    --light: #f8f9fa;
    --dark: #343a40;
    --green: #03c100;
    --black: #000000;
    --verde-escuro: #228b22;
    --fronteiras-abertas: #03c101;
    --hopi-night: #883087;
    --summer-pride: #fb36de;
    --hora-do-horror: #c0392b;
    --rodape: #004c94;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}