.secao-banners {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(258px, 100%/2) - 0.5rem) , 1fr));
    gap: 0.5rem;
    margin: 0 0 5rem 0;
}

.banner__imagem {
    width: 100%;
}

@media screen and (min-width: 760px) {
    .secao-banners {
        margin: 0 1.4rem 5rem 1.4rem;
    }

    .coluna-1, .coluna-2 {
        display: grid;
        gap: 0.35rem 0;
    }
}

@media screen and (min-width: 1020px) {
    .secao-banners {
        margin: 0 2.25rem 5rem 2.25rem;
    }
}

@media screen and (min-width: 1440px) {
    .secao-banners {
        display: flex;
        justify-content: center;
    }

}